Builds/VisualStudio2013/Debug/
Builds/VisualStudio2013/SimpleMidiMonitor.v12.suo
Builds/VisualStudio2013/SimpleMidiMonitor.sdf
Builds/VisualStudio2013/SimpleMidiMonitor.opensdf
Builds/VisualStudio2013/Release/
Builds/MacOSX/build/
*.xcuserdatad
Builds/VisualStudio2019/.vs
Builds/VisualStudio2019/x64
